In [1]:
import pandas

In [2]:
import pandas
import pandasql

def aggregate_query(filename):
    # Read in our aadhaar_data csv to a pandas dataframe.  Afterwards, we rename the columns
    # by replacing spaces with underscores and setting all characters to lowercase, so the
    # column names more closely resemble columns names one might find in a table.
    
    aadhaar_data = pandas.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)

    # Write a query that will select from the aadhaar_data table how many men and how 
    # many women over the age of 50 have had aadhaar generated for them in each district.
    # aadhaar_generated is a column in the Aadhaar Data that denotes the number who have had
    # aadhaar generated in each row of the table.
    #
    # Note that in this quiz, the SQL query keywords are case sensitive. 
    # For example, if you want to do a sum make sure you type 'sum' rather than 'SUM'.
    #

    # The possible columns to select from aadhaar data are:
    #     1) registrar
    #     2) enrolment_agency
    #     3) state
    #     4) district
    #     5) sub_district
    #     6) pin_code
    #     7) gender
    #     8) age
    #     9) aadhaar_generated
    #     10) enrolment_rejected
    #     11) residents_providing_email,
    #     12) residents_providing_mobile_number
    #
    # You can download a copy of the aadhaar data that we are passing 
    # into this exercise below:
    # https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/aadhaar_data.csv
        
    q = """
    SELECT 
    gender, district, SUM(aadhaar_generated)
    FROM
    aadhaar_data
    WHERE
    age > 50
    GROUP BY
    gender, district;
    """

    # Execute your SQL command against the pandas frame
    aadhaar_solution = pandasql.sqldf(q.lower(), locals())
    return aadhaar_solution

In [3]:
url = 'https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/aadhaar_data.csv'

In [4]:
df = pandas.read_csv(url)

In [4]:
df.shape

(119998, 12)

In [5]:
df.head()

,Registrar,Enrolment Agency,State,District,Sub District,Pin Code,Gender,Age,Aadhaar generated,Enrolment Rejected,Residents providing email,Residents providing mobile number
0,Allahabad Bank,Tera Software Ltd,Jharkhand,Ranchi,Namkum,834003,M,63,0,1,0,1
1,Allahabad Bank,Tera Software Ltd,Jharkhand,Ranchi,Ranchi,834004,F,36,0,1,0,1
2,Allahabad Bank,Vakrangee Softwares Limited,Gujarat,Surat,Nizar,394380,M,10,1,0,0,0
3,Allahabad Bank,Vakrangee Softwares Limited,Himachal Pradesh,Kangra,Baijnath,176081,M,44,1,0,1,1
4,Allahabad Bank,Vakrangee Softwares Limited,Madhya Pradesh,Chhindwara,Pandhurna,480334,M,35,1,0,0,0

In [6]:
df.rename(columns=lambda x: x.replace(' ', '_').lower(), inplace=True)

In [7]:
df.columns

Index(['registrar', 'enrolment_agency', 'state', 'district', 'sub_district',
       'pin_code', 'gender', 'age', 'aadhaar_generated', 'enrolment_rejected',
       'residents_providing_email', 'residents_providing_mobile_number'],
      dtype='object')

In [8]:
import json
import requests

def api_get_request(url):
    # In this exercise, you want to call the last.fm API to get a list of the
    # top artists in Spain. The grader will supply the URL as an argument to
    # the function; you do not need to construct the address or call this
    # function in your grader submission.
    # 
    # Once you've done this, return the name of the number 1 top artist in
    # Spain. 
    data = requests.get(url).text
    data = json.loads(data)
    
    return ... # return the top artist in Spain

In [3]:
from pprint import pprint

In [4]:
import pandas
import pandasql


def num_rainy_days(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return one column and
    one row - a count of the number of days in the dataframe where
    the rain column is equal to 1 (i.e., the number of days it
    rained).  The dataframe will be titled 'weather_data'. You'll
    need to provide the SQL query.  You might find SQL's count function
    useful for this exercise.  You can read more about it here:
    
    https://dev.mysql.com/doc/refman/5.1/en/counting-rows.html
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

     q = """
    SELECT COUNT(date) AS num_rainy_days
    FROM weather_data
    WHERE rain = 1 """
    
    #Execute your SQL command against the pandas frame
    rainy_days = pandasql.sqldf(q.lower(), locals())
    return rainy_days

In [5]:
url = 'https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv'

In [6]:
weather_data = pandas.read_csv(url)
weather_data.head()

,date,maxpressurem,maxdewptm,maxpressurei,maxdewpti,since1julheatingdegreedaysnormal,heatingdegreedaysnormal,since1sepcoolingdegreedaysnormal,hail,since1julsnowfallm,...,precipi,snowfalli,since1jancoolingdegreedaysnormal,precipm,snowfallm,thunder,monthtodateheatingdegreedays,meantempi,maxvism,meantempm
0,2011-05-01,1026,6,30.31,42,4646,8,NaN,0,157.23,...,0.0,0.0,13,0.0,0.0,0,5,60,16,16
1,2011-05-02,1026,10,30.31,50,4653,7,NaN,0,157.23,...,0.0,0.0,14,0.0,0.0,0,13,57,16,14
2,2011-05-03,1021,15,30.14,59,4660,7,NaN,0,157.23,...,0.0,0.0,15,0.0,0.0,0,13,65,16,18
3,2011-05-04,1017,14,30.03,57,4667,7,NaN,0,157.23,...,0.5,0.0,16,12.7,0.0,0,23,55,16,13
4,2011-05-05,1016,4,30.01,39,4673,6,NaN,0,157.23,...,0.0,0.0,17,0.0,0.0,0,32,56,16,13

In [7]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 70 columns):
date                                  30 non-null object
maxpressurem                          30 non-null int64
maxdewptm                             30 non-null int64
maxpressurei                          30 non-null float64
maxdewpti                             30 non-null int64
since1julheatingdegreedaysnormal      30 non-null int64
heatingdegreedaysnormal               30 non-null int64
since1sepcoolingdegreedaysnormal      0 non-null float64
hail                                  30 non-null int64
since1julsnowfallm                    30 non-null float64
since1julheatingdegreedays            30 non-null int64
maxvisi                               30 non-null int64
since1sepheatingdegreedaysnormal      0 non-null float64
heatingdegreedays                     30 non-null int64
mindewptm                             30 non-null int64
since1sepheatingdegreedays            0 non-null float64
maxwspdm                              30 non-null int64
since1julsnowfalli                    30 non-null float64
since1sepcoolingdegreedays            0 non-null float64
snow                                  30 non-null int64
meanvism                              30 non-null int64
meandewptm                            30 non-null int64
snowdepthm                            29 non-null float64
meanvisi                              30 non-null int64
fog                                   30 non-null int64
snowdepthi                            29 non-null float64
minvism                               30 non-null int64
since1jancoolingdegreedays            30 non-null int64
minvisi                               30 non-null int64
coolingdegreedaysnormal               30 non-null int64
gdegreedays                           30 non-null int64
maxwspdi                              30 non-null int64
meanwindspdi                          30 non-null int64
meanpressurei                         30 non-null float64
monthtodateheatingdegreedaysnormal    30 non-null int64
meanwindspdm                          30 non-null int64
meanpressurem                         30 non-null int64
tornado                               30 non-null int64
mindewpti                             30 non-null int64
mintempi                              30 non-null int64
meandewpti                            30 non-null int64
rain                                  30 non-null int64
mintempm                              30 non-null int64
minhumidity                           30 non-null int64
precipsource                          0 non-null float64
minwspdi                              30 non-null int64
meanwdird                             30 non-null int64
meanwdire                             0 non-null float64
minwspdm                              30 non-null int64
monthtodatesnowfalli                  30 non-null float64
monthtodatecoolingdegreedaysnormal    30 non-null int64
monthtodatesnowfallm                  30 non-null float64
maxhumidity                           30 non-null int64
coolingdegreedays                     30 non-null int64
maxtempm                              30 non-null int64
minpressurei                          30 non-null float64
monthtodatecoolingdegreedays          30 non-null int64
maxtempi                              30 non-null int64
minpressurem                          30 non-null int64
humidity                              0 non-null float64
precipi                               30 non-null float64
snowfalli                             30 non-null float64
since1jancoolingdegreedaysnormal      30 non-null int64
precipm                               30 non-null float64
snowfallm                             30 non-null float64
thunder                               30 non-null int64
monthtodateheatingdegreedays          30 non-null int64
meantempi                             30 non-null int64
maxvism                               30 non-null int64
meantempm                             30 non-null int64
dtypes: float64(20), int64(49), object(1)
memory usage: 16.5+ KB

In [8]:
weather_data['rain']

0     0
1     0
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    0
22    1
23    0
24    0
25    0
26    0
27    0
28    0
29    1
Name: rain, dtype: int64

In [13]:
 q = """
    SELECT COUNT(date) AS num_rainy_days
    FROM weather_data
    WHERE rain = 1
    """
    
pandasql.sqldf(q, globals())

   num_rainy_days
0              10

In [14]:
import pandas
import pandasql


def max_temp_aggregate_by_fog(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return two columns and
    two rows - whether it was foggy or not (0 or 1) and the max
    maxtempi for that fog value (i.e., the maximum max temperature
    for both foggy and non-foggy days).  The dataframe will be 
    titled 'weather_data'. You'll need to provide the SQL query.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    SELECT fog, maxtempm
    FROM weather_data
    """
    
    #Execute your SQL command against the pandas frame
    foggy_days = pandasql.sqldf(q.lower(), locals())
    return foggy_days

In [16]:
q = '''
SELECT fog, max(maxtempm)
FROM weather_data
GROUP BY fog
'''

pandasql.sqldf(q.lower(), globals())

   fog  max(maxtempm)
0    0             30
1    1             27

In [17]:
import pandas
import pandasql

def avg_weekend_temperature(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return one column and
    one row - the average meantempi on days that are a Saturday
    or Sunday (i.e., the the average mean temperature on weekends).
    The dataframe will be titled 'weather_data' and you can access
    the date in the dataframe via the 'date' column.
    
    You'll need to provide  the SQL query.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    Also, you can convert dates to days of the week via the 'strftime' keyword in SQL.
    For example, cast (strftime('%w', date) as integer) will return 0 if the date
    is a Sunday or 6 if the date is a Saturday.
    
    You can see the weather data that we are passing in below:
    https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    your query here
    """
    
    #Execute your SQL command against the pandas frame
    mean_temp_weekends = pandasql.sqldf(q.lower(), locals())
    return mean_temp_weekends

In [25]:
q = """
SELECT AVG(meantempi) as mean_temp
FROM weather_data
WHERE (cast(strftime('%w', date) as integer) = 0) or (cast(strftime('%w', date) as integer) = 6)
"""

pandasql.sqldf(q.lower(), globals())

   mean_temp
0  65.111111

In [ ]:
import pandas
import pandasql

def avg_min_temperature(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data. More specifically you want to find the average
    minimum temperature (mintempi column of the weather dataframe) on 
    rainy days where the minimum temperature is greater than 55 degrees.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    your query here
    """
    
    #Execute your SQL command against the pandas frame
    avg_min_temp_rainy = pandasql.sqldf(q.lower(), locals())
    return avg_min_temp_rainy

In [26]:
q = """
SELECT AVG(mintempi) as avg_min_temp
FROM weather_data
WHERE rain = 1 and mintempi > 55;
"""

pandasql.sqldf(q.lower(), globals())

   avg_min_temp
0         61.25

In [9]:
import csv

def fix_turnstile_data(filenames):
    '''
    Filenames is a list of MTA Subway turnstile text files. A link to an example
    MTA Subway turnstile text file can be seen at the URL below:
    http://web.mta.info/developers/data/nyct/turnstile/turnstile_110507.txt
    
    As you can see, there are numerous data points included in each row of the
    a MTA Subway turnstile text file. 

    You want to write a function that will update each row in the text
    file so there is only one entry per row. A few examples below:
    A002,R051,02-00-00,05-28-11,00:00:00,REGULAR,003178521,001100739
    A002,R051,02-00-00,05-28-11,04:00:00,REGULAR,003178541,001100746
    A002,R051,02-00-00,05-28-11,08:00:00,REGULAR,003178559,001100775
    
    Write the updates to a different text file in the format of "updated_" + filename.
    For example:
        1) if you read in a text file called "turnstile_110521.txt"
        2) you should write the updated data to "updated_turnstile_110521.txt"

    The order of the fields should be preserved. Remember to read through the 
    Instructor Notes below for more details on the task. 
    
    In addition, here is a CSV reader/writer introductory tutorial:
    http://goo.gl/HBbvyy
    
    You can see a sample of the turnstile text file that's passed into this function
    and the the corresponding updated file by downloading these files from the resources:
    
    Sample input file: turnstile_110528.txt
    Sample updated file: solution_turnstile_110528.txt
    '''
    for name in filenames:
        # your code here
        with open('updated_' + name, 'w') as f1:
            writer = csv.writer(f1)
            with open(name, 'r') as f2:
                reader = csv.reader(f2)
                for row in reader:
                    header = row[:3]
                    for i in range(3, len(row), 5):
                        writer.writerow(header + row[i:i+5])

In [10]:
url = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_110507.txt'

In [15]:
!wget $url

--2017-10-31 22:30:51--  http://web.mta.info/developers/data/nyct/turnstile/turnstile_110507.txt
Resolving web.mta.info (web.mta.info)... 64:ff9b::31e7:391a, 64:ff9b::31e7:391b, 49.231.57.26, ...
Connecting to web.mta.info (web.mta.info)|64:ff9b::31e7:391a|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/plain]
Saving to: ‘turnstile_110507.txt’

turnstile_110507.tx     [               <=>  ]  10.92M  3.81MB/s    in 2.9s

2017-10-31 22:30:55 (3.81 MB/s) - ‘turnstile_110507.txt’ saved [11450970]

In [16]:
import csv

In [30]:
with open('updated_' + 'turnstile_110507.txt', 'w') as f1:
    writer = csv.writer(f1)
    with open('turnstile_110507.txt', 'r') as f2:
        reader = csv.reader(f2)
        for row in reader:
            header = row[:3]
            for i in range(3, len(row), 5):
                writer.writerow(header + row[i:i+5])

In [22]:
front = row[:3]

In [21]:
len(row)

43

In [28]:
for i in range(3, len(row), 5):
    print(front + row[i:i+5])

['A002', 'R051', '02-00-00', '04-30-11', '00:00:00', 'REGULAR', '003143506', '001087907']
['A002', 'R051', '02-00-00', '04-30-11', '04:00:00', 'REGULAR', '003143547', '001087915']
['A002', 'R051', '02-00-00', '04-30-11', '08:00:00', 'REGULAR', '003143563', '001087935']
['A002', 'R051', '02-00-00', '04-30-11', '12:00:00', 'REGULAR', '003143646', '001088024']
['A002', 'R051', '02-00-00', '04-30-11', '16:00:00', 'REGULAR', '003143865', '001088083']
['A002', 'R051', '02-00-00', '04-30-11', '20:00:00', 'REGULAR', '003144181', '001088132']
['A002', 'R051', '02-00-00', '05-01-11', '00:00:00', 'REGULAR', '003144312', '001088151']
['A002', 'R051', '02-00-00', '05-01-11', '04:00:00', 'REGULAR', '003144335', '001088159              ']